@import url("https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500;600;700&display=swap");

/* 
test
  color: #fa6338
  tints: #fdb19c #fb8260 
body background: #ffefeb

gradient:
  background-image: linear-gradient(
    85.19deg,
    #ff2a64 -133.27%,
    #ff9000 105.93%
  );

main
bg #fff
color:#183d6d
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Noto Naskh Arabic", serif;
}
body {
  background-color: #fff;
  color: #333;
  font-family: sans-serif;
  line-height: 1;
}
.color-333 {
  color: #333;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  box-shadow: 0 0 6px #fa6338;
  outline: 0 none;
}
.bold {
  font-weight: 700;
}
i {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  font-style: normal;
}
.btn,
.btn:hover {
  color: white;
}

.nav-link {
  color: #000; /*this is better contrast than white, check coolers.com*/
}
.nav-item {
  font-weight: 500;
  font-size: 1em;
}
.logo {
  color: #222;
}

.form-check-input:checked {
  background-color: #fb8260;
  border-color: #fb8260;
}
.btn-primary {
  background-color: #fa6338;
  border-color: #fa6338;
}
.btn-primary:hover {
  border-color: #963b22;
  background-color: #963b22;
}

.bi-star-fill {
  color: #fb8260;
}
.bi-star {
  color: #fb8260;
}

.form-search {
  width: 40%;
  margin-right: 25%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.search-btn {
  color: white;
  background-color: #4b1e11;
  font-weight: 500;
  padding-right: 20px;
  padding-left: 20px;
}
.search-btn:hover {
  background-color: #963b22;
}
.search-bar {
  width: 100%;
  height: 40px;
  background-color: #ffefeb;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #fdb19c;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(253 177 156/ 25%);
}
