@import url("https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500;600;700&display=swap");
html {
  font-family: "Noto Naskh Arabic", serif;
}
.base-container {
  background: linear-gradient(rgb(233, 234, 233), #ffdcad70);
}
.navbar {
  padding: 0;
  /* background-image: linear-gradient(
    85.19deg,
    #ff2a64 -133.27%,
    #ffaf48 105.93%
  ); */
  /* background-image: linear-gradient(
    85.19deg,
    #ff2a64 -133.27%,
    #ff9000 105.93%
  ); */
  background-color: rgb(251, 251, 251);
}
.navbar-nav {
  align-items: center;
  color: #333;
  gap: 8px;
}
.nav-link {
  color: #333;
}
.navbar-brand {
  color: #333;
}
#navbar_top {
  background: linear-gradient(rgb(233, 234, 233), #f2e6d5d9);
  z-index: 5;
  box-shadow: 0px 8px 7.8px -8px #777;
}
.container-fluid {
  width: 90%;
  margin: auto;
}

.carousel-inner {
  /* border-radius: 5px; */
}
.carousel-indicators {
  bottom: -3rem;
}
.img {
  filter: brightness(0.7);
}

#img1 {
  transition: transform 12s;
  transform: scale(1.1);
}
.carousel-caption {
  text-align: right;
  top: 40%;
}
.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

/*///////////////////////////// modal \\\\\\\\\\\\\\\\\\*/
#sign-up-form,
#sign-in-form,
#forgot-formm,
.invalid-feedback {
  animation: opicity 1s;
}
@keyframes opicity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
body.modal-open .bg,
.modal-backdrop.fade.show {
  z-index: 1;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  background-color: #3b3939d9;
}
.modal-header .btn-close {
  margin-left: 100%;
}
.remove-separator-modal {
  border: 0;
}
.sign-in-btnn {
  background-image: linear-gradient(
    85.19deg,
    #ff2a64 -133.27%,
    #ff9000 105.93%
  );
  width: 100%;
  border-radius: 20px;
  font-size: 1.4rem;
  margin-top: 5%;
  font-weight: 700;
}
.sign-in-btnn:hover,
.sign-in-btnn:focus {
  background-color: #e35d38 !important;
}
.sign-up-btnn:link,
.sign-up-btnn:visited {
  text-decoration: none;
}
.sign-up-btnn:hover,
.sign-up-btnn:active {
  border-bottom: 1px #1b77fd solid;
}
.signin-nav {
  display: flex;
  align-items: center;
}
.modal-body > p,
.modal-body > a {
  text-decoration: none;
  font-size: 0.8rem;
}
.modal-body > a:hover,
.modal-footbodyer > a:active {
  border-bottom: 1px #555 solid;
}
.tab-pane > h1 {
  font-size: 1.8rem;
}
.forgot-password:link,
.forgot-password:visited {
  text-decoration: none;
  color: #1b77fd;
  font-size: 0.9rem;
}
.forgot-password:hover,
.forgot-password:active {
  border-bottom: 1px #1b77fd solid;
}
.have-acount {
  font-size: 0.8rem;
}
.name-container {
  gap: 1.2rem;
}
#avatar {
  text-decoration: none;
  color: white;
}
.bi-box-arrow-left {
  padding-right: 1rem;
}
.arr-down::after {
  display: inline-block;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-left: 0.3em solid transparent;
  border-bottom: 0;
  border-right: 0.3em solid transparent;
}
.dropdown-toggle::after {
  display: none;
}
.log-out:hover {
  color: red;
}
/* ///////////////////////////////////////////////// */
