.star-container {
  display: flex;
  gap: 2px;
}
.item-info {
  display: flex;
  justify-content: space-between;
}
.price {
  font-size: 1.6rem;
  font-weight: 700;
}
.bi-star-fill {
  color: rgb(239, 170, 79);
}
.bi-star {
  color: rgb(239, 170, 79);
}
.stars-value {
  color: rgb(239, 170, 79);
  margin-left: 2px;
}
a {
  border-radius: 100%;
}
.card-body {
  cursor: pointer;
}
